There are no events.
<% if signed_in? %>
	<span id="current-username"><%=current_user.name%></span>
	<form action="/signout", method ="post" style="display: inline">
	<input type="hidden" name="_method" value ="delete">
		<button type="submit" class="btn btn-default">
			Sign out
		</button>
	</form>
<% else %>
	<a href="/signin">Sign in</a>
<% end %>

<div class="available">
	<h2>Available</h2>
	<ul>
		<div class="event">
			<li>Metal Concert</li>		
		</div>
	</ul>

</div>

<div class="attending">
	<h2>Attending</h2>
	<ul>
		<div class="event">
			<li>Party</li>
		</div>
	</ul>
</div>
