/*@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}*/

/*h1 {
	color:#000;
	text-align: center;
}*/

body {
	background-color:#eee;
	padding-top:65px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.event-feed {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}
