<div class="container">
	
	<ul class="pager">
		<li class="previous"><a href="#">&larr; Back to list</a></li>
	</ul>
	<div class="jumbotron">
	  <h1>{{event.name}}</h1>
	  <p>Where: {{event.location}}</p>
	  <p>When: {{event.datetime}}</p>
	  Details:
	  <p class="well">{{event.description}}</p>
	  <p>
		<span ng-hide="isUserAttending()">
			<button class="btn btn-primary btn-lg" role="button" ng-click="attend()">Register</button>
	    </span>
	    <span ng-show="isUserAttending()">
	    	<button class="btn btn-primary btn-lg" role="button" ng-click="unattend()">Unregister</button>
	    </span>
	  	
<!-- 	  	<button class="btn btn-primary btn-lg" role="button" ng-click="register(user)">Old Attend</button> -->
	  	
	  </p>
	</div>
	<p>Attendees</p>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="user in event.users">
			<a ng-click="showUser(user.id)">{{user.name}}</a>
		</li>
	</ul>
	<button ng-click="deleteEvent(event.id)">Delete Event</button>

</div>