<!DOCTYPE html>
<html>
	<header>

	</header>
	<body>
		<div ng-app="eventApp">
			<div ng-controller="FirstController">
				<input type="text" ng-model="data.message">
				<h1>{{data.message}}</h1>
			</div>
			<div ng-controller="SecondController">
				<input type="text" ng-model="data.message">
				<h1>{{data.message | reverse}}</h1>
			</div>
		</div>
    	
    	<script src="//code.jquery.com/jquery.js"></script>
    	<script src="js/bootstrap.min.js"></script>
    	<script src="js/angular.min.js"></script>
    	<script src="js/tutorial_app.js"></script>
	</body>
</html>