<button class="btn btn-default" ng-click="edit(event.id)">Edit</button>
<button class="btn btn-default" ng-click="cancel(event.id)">Cancel</button>

<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Attendees <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li class="list-group-item" ng-repeat="u in event.users">
            <a ng-click="">{{u.name}}</a>
        </li>
    </ul>
</div>